-form_for :post, Post.new, :url => posts_url do |form|
  %ul
    %li
      Title
      %br
      =form.text_field :title
    %li
      =form.text_area :body, :rows => 10, :class => 'mceEditor'
    %li
      Tags (comma separate, please. Thanks.)
      %br
      =form.text_field :tag_list
    %li
      =form.submit "Post"
      