!!! XML
!!!
%html
  %head
    %title
      -if @post
        =@post.title
      -else
        =Blog::BLOG_NAME
    =stylesheet_link_tag 'styles.css'
    =javascript_include_tag :defaults
  %body
    -if signed_in?
      #admin_menu
        ="Logged in as #{current_user.email}"
        =link_to "New Post", new_post_url
    #header
      %h1
        =Blog::BLOG_NAME
      %span.subtitle
      %br
        =Blog::SUBTITLE
    =yield
    #footer
  